<template>
 <div class="animated fadeIn">
       <div>
        <b-img src="/home/dorian/Documents/ZaProjekt/retrotape_clientside/assets/img/backround_retro.png" fluid alt="Responsive image"></b-img>
    </div>
  </div> 
</template>
<script>
export default
{
	name: 'dashboard'
}
</script>
