<template>
  <b-card>
    <form method="post" action="" autocomplete="off">
      <div slot="header">
        <strong>{{title}}</strong>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <strong>{{$t('BASICDATA')}}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <b-form-fieldset v-bind:label="$t('FILMNAME')">
            <inputvalidation :formerror="formError" name="filmName"><b-form-input type="text" v-model="formData.filmName" v-bind:placeholder="$t('FILMNAME')"></b-form-input></inputvalidation>
          </b-form-fieldset>
        </div>
        <div class="col-sm-4">
          <b-form-fieldset v-bind:label="$t('STARRING')">
            <inputvalidation :formerror="formError" name="starring"><b-form-input type="text" v-model="formData.starring" v-bind:placeholder="$t('STARRING')"></b-form-input></inputvalidation>
          </b-form-fieldset>
        </div>
      </div>
      <!-- <div class="col-sm-4">
          <b-form-fieldset v-bind:label="$t('GENRE')">
            <inputvalidation :formerror="formError" name="genre"><b-form-input type="text" v-model="formData.genreId" v-bind:placeholder="$t('GENRE')"></b-form-input></inputvalidation>
          </b-form-fieldset>
      </div> -->
      <div class="col-sm-4">
        <b-form-fieldset v-bind:label="$t('GENRE')">
            <b-form-select v-model="formData.genreId" :options="genres" value-field="idgenre" text-field="genreName" v-bind:placeholder="$t('GENRE')"></b-form-select>
         </b-form-fieldset>
      </div>
        <div class="col-sm-4">
          <b-form-fieldset v-bind:label="$t('DESCRIPTION')">
            <inputvalidation :formerror="formError" name="description"><b-form-textarea type="text" v-model="formData.description" v-bind:placeholder="$t('DESCRIPTION')"></b-form-textarea></inputvalidation>
          </b-form-fieldset>
      </div>
      <div slot="footer">
        <p class="bg-danger" v-if="formError.error && typeof formError.notice == 'string'">{{formError.notice}}</p>
        <b-button type="submit" size="sm" variant="primary" v-on:click.prevent="saveRow(formData)"><icon icon="dot-circle"></icon> {{$t('SUBMIT')}}</b-button>
      </div>
    </form>
  </b-card>
</template>

<script>

import AclGroupsApi from '@/api/admin/AclGroups'
import UserCompaniesApi from '@/api/admin/UserCompanies'
import Genres from '@/api/admin/Genres'

export default {
  name: 'FilmForm',
  props: ['title', 'formData', 'formError', 'status', 'newfilm'],
  data()
  {
    return {
      aclGroups: {},
      userCompanies: {},
      genres: {},
      pagination:
      {
        query: '',
        currentPage: 1,
        limit: 5000,
        searchTimeout: false
      },

    }
  },
  created: function()
  {
    var me = this;
    me.getAclGroups();
    me.getUserCompanies();
    me.getGenres();
  },
  methods:
  {
    getAclGroups: function()
    {
      var me = this;
      AclGroupsApi.selectRow({start: 0, limit: 5000}, function(data)
      {
        if(data.error && data.error == true)
        {
          me.$notify.notice(data);
          return;
        }
        me.aclGroups = data;
      });
    },
    getUserCompanies: function()
    {
      var me = this;
      UserCompaniesApi.selectRow(me.getParams, function(data)
      {
        if(data.error && data.error == true)
        {
          me.$notify.notice(data);
          return;
        }
        me.userCompanies = data;
      });
    },
    saveRow(formData)
    {
      var me = this;
      me.$emit('saveRow', formData);
    },
      getGenres: function () {
        var me = this;
        Genres.selectRow({start: 0, limit: 5000}, function (data) {
          if (data.error && data.error == true) {
            me.$notify.notice(data);
            return;
          }
          me.genres = data.root;
        });
      },
  },
  watch:
  {
    'pagination.currentPage': function(val)
    {
      var me = this;
      me.getData();
    },
    'pagination.query': function(val)
    {
      var me = this;

      if(me.pagination.searchTimeout != false) clearTimeout(me.pagination.searchTimeout);

      me.pagination.searchTimeout = setTimeout(function()
      {
        me.getData();
        me.pagination.searchTimeout = false;
      }, 300);
    }
  },
  computed:
  {
    getParams: function()
    {
      var me = this;
      var data = Object.assign({}, me.pagination, {});
      data.start = (data.currentPage-1)*data.limit;
      return data;
    }
  }
}
</script>
