<template>
  <b-card>
    <form method="post" action="" autocomplete="off">
      <div slot="header">
        <strong>{{title}}</strong>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <strong>{{$t('BASICDATA')}}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <b-form-fieldset v-bind:label="$t('GENRENAME')">
            <inputvalidation :formerror="formError" name="genreName"><b-form-input type="text" v-model="formData.genreName" v-bind:placeholder="$t('GENRENAME')"></b-form-input></inputvalidation>
          </b-form-fieldset>
        </div>
      </div>
      <div slot="footer">
        <p class="bg-danger" v-if="formError.error && typeof formError.notice == 'string'">{{formError.notice}}</p>
        <b-button type="submit" size="sm" variant="primary" v-on:click.prevent="saveRow(formData)"><icon icon="dot-circle"></icon> {{$t('SUBMIT')}}</b-button>
      </div>
    </form>
  </b-card>
</template>

<script>

import AclGroupsApi from '@/api/admin/AclGroups'
import UserCompaniesApi from '@/api/admin/UserCompanies'

export default {
  name: 'GenreForm',
  props: ['title', 'formData', 'formError', 'status', 'newuser'],
  data()
  {
    return {
      aclGroups: {},
      userCompanies: {},
      pagination:
      {
        query: '',
        currentPage: 1,
        limit: 5000,
        searchTimeout: false
      }
    }
  },
  created: function()
  {
    var me = this;
    me.getAclGroups();
    me.getUserCompanies();
  },
  methods:
  {
    getAclGroups: function()
    {
      var me = this;
      AclGroupsApi.selectRow({start: 0, limit: 5000}, function(data)
      {
        if(data.error && data.error == true)
        {
          me.$notify.notice(data);
          return;
        }
        me.aclGroups = data;
      });
    },
    getUserCompanies: function()
    {
      var me = this;
      UserCompaniesApi.selectRow(me.getParams, function(data)
      {
        if(data.error && data.error == true)
        {
          me.$notify.notice(data);
          return;
        }
        me.userCompanies = data;
      });
    },
    saveRow(formData)
    {
      var me = this;
      me.$emit('saveRow', formData);
    }
  },
  watch:
  {
    'pagination.currentPage': function(val)
    {
      var me = this;
      me.getData();
    },
    'pagination.query': function(val)
    {
      var me = this;

      if(me.pagination.searchTimeout != false) clearTimeout(me.pagination.searchTimeout);

      me.pagination.searchTimeout = setTimeout(function()
      {
        me.getData();
        me.pagination.searchTimeout = false;
      }, 300);
    }
  },
  computed:
  {
    getParams: function()
    {
      var me = this;
      var data = Object.assign({}, me.pagination, {});
      data.start = (data.currentPage-1)*data.limit;
      return data;
    }
  }
}
</script>
