<template>
  <div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
        <feeForm v-bind:title="$t('NEWFEE')" v-bind:formData="formData" v-bind:formError="formError" v-bind:status="status" v-bind:newfee="true" v-on:saveRow="saveRow"></feeForm>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
               {{$t('LATEFEES')}}
            </div>
            <div class="card-body" v-if="typeof data.root == 'undefined' || !data.root.length">
              <p class="center">{{$t('NODATAFOUND')}}</p>
            </div>
            <div class="card-body table-responsive" v-if="typeof data.root != 'undefined' && data.root.length">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>{{$t('ID')}}</th>
                    <th>{{$t('DATEOFRENT')}}</th>
                    <th>{{$t('DATEOFRETURN')}}</th>
                    <th>{{$t('FILM')}}</th>
                    <th>{{$t('USER')}}</th>
                    <th>{{$t('PRICE')}}</th>
                    <th>{{$t('ACTIONS')}}</th>
                  </tr>
                </thead>
                <tbody>
                  <template v-for="item in data.root">
                    <tr>
                      <td>{{item.idzakasnina}}</td>
                      <td>{{item.datum_posudbe}}</td>
                      <td>{{item.datum_povratka}}</td>
                      <td>{{item.filmName}}</td>
                      <td>{{item.usersName}}</td>
                      <td>{{item.cijena}}</td>
                      <td>
                        <b-button type="reset" size="sm" variant="primary" v-on:click.prevent="item.trhidden = !item.trhidden"><icon icon="save"></icon> {{$t('EDIT')}}</b-button>
                        <b-button type="reset" size="sm" variant="danger" v-on:click.prevent="deleteRow(item.idzakasnina)"><icon icon="ban"></icon> {{$t('DELETE')}}</b-button>     
                    </td>
                    </tr>
                    <tr v-if="item.trhidden">
                      <td colspan="8">
                        <feeForm v-bind:title="$t('EDITRENT')+' '+item.idzakasnina" v-bind:formData="item" v-bind:formError="formError" v-bind:newrent="false" v-on:saveRow="saveRow" v-bind:status="status"></feeForm>
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
              <nav>
                <b-pagination align="center" :total-rows="parseInt(data.totalCount)" v-model="pagination.currentPage" :per-page="pagination.limit"></b-pagination>
              </nav>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>

import { mapActions, mapGetters } from 'vuex'
import Api from '@/api/admin/LateFees'
import FeeForm from './FeeForm.vue'


export default {
  name: 'Fee',
  components:
  {
    feeForm: FeeForm
  },
  data: function()
  {
    var me = this;
    return {
      data: {},
      formError: {},
      formData:
      {
          idzakasnina:'',
          datum_posudbe:'',
          datum_povratka:'',
          filmId:'',
          userId:'',
          cijena:'',
      },
      status:
      [
        {
          value: 'active',
          text: me.$i18n.t('ACTIVE')
        },
        {
          value: 'inactive',
          text: me.$i18n.t('INACTIVE')
        }
      ],
      pagination:
      {
        query: '',
        currentPage: 1,
        limit: 20,
        searchTimeout: false
      }
    }
  },
  created: function()
  {
    var me = this;
    me.getData();
  },
  methods:
  {
    saveRow: function(item)
    {
      var me = this;

      if(typeof item.idposudba != 'undefined')
      {
        item.id = item.idposudba;
      }

      Api.save(item, function(val)
      {
        if(val.error)
        {
          me.$notify.notice(val);
          me.formError = val;
        }
        else
        {
          me.$notify.notice(val);
          me.formError = {};
          me.getData();
        }
      })
    },
    getData: function()
    {
      var me = this;
      Api.selectRow(me.getParams, function(data)
      {
        if(data.error && data.error == true)
        {
          me.$notify.notice(data);
          return;
        }

        for(var i=0;i<data.root.length;i++)
        {
          data.root[i].password = '';
          data.root[i].trhidden = false;
        }

        me.data = data;
        console.log(data);
      });
    },
    deleteRow: function(id)
    {
      var me = this;
      me.$store.commit('setModalAlert',
      {
        text: me.$i18n.t('AREYOUSHURE'),
        btnAction: function()
        {
          Api.deleteRow({id: id}, function(data)
          {
            me.$notify.notice(data);
            me.getData();
          })
        }
      })
    }
  },
  watch:
  {
    'pagination.currentPage': function(val)
    {
      var me = this;
      me.getData();
    },
    'pagination.query': function(val)
    {
      var me = this;

      if(me.pagination.searchTimeout != false) clearTimeout(me.pagination.searchTimeout);

      me.pagination.searchTimeout = setTimeout(function()
      {
        me.getData();
        me.pagination.searchTimeout = false;
      }, 300);
    }
  },
  computed:
  {
    getParams: function()
    {
      var me = this;
      var data = Object.assign({}, me.pagination, {});
      data.start = (data.currentPage-1)*data.limit;
      return data;
    }
  }
}
</script>
