<template>
  <b-card>
    <form method="post" action="" autocomplete="off">
      <div slot="header">
        <strong>{{title}}</strong>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <strong>{{$t('BASICDATA')}}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <b-form-fieldset v-bind:label="$t('DATEOFRENT')">
            <inputvalidation :formerror="formError" name="dateofrent"><b-form-input type="dateTime" v-model="formData.datumPosudbe" v-bind:placeholder="$t('DATEOFRENT')"></b-form-input></inputvalidation>
          </b-form-fieldset>
        </div>
        <div class="col-sm-4">
          <b-form-fieldset v-bind:label="$t('DATEOFRETURN')">
            <inputvalidation :formerror="formError" name="dateofreturn"><b-form-input type="dateTime" v-model="formData.datumPovratka" v-bind:placeholder="$t('DATEOFRETURN')"></b-form-input></inputvalidation>
          </b-form-fieldset>
        </div>
      </div>
      <!-- <div class="col-sm-4">
          <b-form-fieldset v-bind:label="$t('FILM')">
            <inputvalidation :formerror="formError" name="film"><b-form-input type="int" v-model="formData.filmId" v-bind:placeholder="$t('FILM')"></b-form-input></inputvalidation>
          </b-form-fieldset>
      </div> -->
      <div class="col-sm-4">
        <b-form-fieldset v-bind:label="$t('Film')">
          <b-form-select v-model="formData.filmId" :options="films" value-field="idfilm" text-field="filmName"
          v-bind:placeholder="$t('Film')"></b-form-select>
        </b-form-fieldset>
      </div>
      <!-- <div class="col-sm-4">
          <b-form-fieldset v-bind:label="$t('USER')">
            <inputvalidation :formerror="formError" name="user"><b-form-input type="int" v-model="formData.userId" v-bind:placeholder="$t('USER')"></b-form-input></inputvalidation>
          </b-form-fieldset>
      </div> -->
      <div class="col-sm-4">
          <b-form-fieldset v-bind:label="$t('USER')">
            <b-form-select v-model="formData.userId" :options="users" value-field="iduser" text-field="usersName"
            v-bind:placeholder="$t('USER')"></b-form-select>
          </b-form-fieldset>
      </div>
        <div class="col-sm-4">
          <b-form-fieldset v-bind:label="$t('PRICE')">
            <inputvalidation :formerror="formError" name="price"><b-form-input type="decimal" v-model="formData.cijenaPosudbe" v-bind:placeholder="$t('PRICE')"></b-form-input></inputvalidation>
          </b-form-fieldset>
      </div>
           <div slot="footer">
        <p class="bg-danger" v-if="formError.error && typeof formError.notice == 'string'">{{formError.notice}}</p>
        <b-button type="submit" size="sm" variant="primary" v-on:click.prevent="saveRow(formData)"><icon icon="dot-circle"></icon> {{$t('SUBMIT')}}</b-button>
      </div>
    </form>
  </b-card>
</template>

<script>

import AclGroupsApi from '@/api/admin/AclGroups'
import UserCompaniesApi from '@/api/admin/UserCompanies'
import Users from '@/api/admin/Users.js'
import Films from '@/api/admin/Films.js'

export default {
  name: 'FilmForm',
  props: ['title', 'formData', 'formError', 'status', 'newfilm'],
  data()
  {
    return {
      aclGroups: {},
      userCompanies: {},
      users: {},
      films:{},
      pagination:
      {
        query: '',
        currentPage: 1,
        limit: 5000,
        searchTimeout: false
      }
    }
  },
  created: function()
  {
    var me = this;
    me.getAclGroups();
    me.getUserCompanies();
    me.getUsers();
    me.getFilms();
  },
  methods:
  {
    getAclGroups: function()
    {
      var me = this;
      AclGroupsApi.selectRow({start: 0, limit: 5000}, function(data)
      {
        if(data.error && data.error == true)
        {
          me.$notify.notice(data);
          return;
        }
        me.aclGroups = data;
      });
    },
    getUserCompanies: function()
    {
      var me = this;
      UserCompaniesApi.selectRow(me.getParams, function(data)
      {
        if(data.error && data.error == true)
        {
          me.$notify.notice(data);
          return;
        }
        me.userCompanies = data;
      });
    },
    saveRow(formData)
    {
      var me = this;
      me.$emit('saveRow', formData);
    },
    getUsers: function () {
      var me = this;
        Users.selectRow({start: 0, limit: 5000}, function (data) {
          if (data.error && data.error == true) {
            me.$notify.notice(data);
            return;
          }
          me.users = data.root;
        });
      },
    getFilms: function () {
      var me = this;
        Films.selectRow({start: 0, limit: 5000}, function (data) {
          if (data.error && data.error == true) {
            me.$notify.notice(data);
            return;
          }
          me.films = data.root;
        });
      },
  },
  watch:
  {
    'pagination.currentPage': function(val)
    {
      var me = this;
      me.getData();
    },
    'pagination.query': function(val)
    {
      var me = this;

      if(me.pagination.searchTimeout != false) clearTimeout(me.pagination.searchTimeout);

      me.pagination.searchTimeout = setTimeout(function()
      {
        me.getData();
        me.pagination.searchTimeout = false;
      }, 300);
    }
  },
  computed:
  {
    getParams: function()
    {
      var me = this;
      var data = Object.assign({}, me.pagination, {});
      data.start = (data.currentPage-1)*data.limit;
      return data;
    }
  }
}
</script>
